/* --- ADMIN --- */

/* WORDPRESS ITEMS */
#menu-posts, #wp-admin-bar-new-post {
	display: inherit;
}

#menu-links {
	display: none;
}

#menu-comments, #wp-admin-bar-comments {
	display: none;
}

/* CUSTOM POSTS */

/* CUSTOM REMOVALS */

/*Remove Yoast WordPress SEO Sidebar*/
.postbox-container #sidebar {
	display: none;
}

/* STYLING */

.wpcf-wrap {
	background: #FFF;
	border: 1px solid #DFDFDF;
	margin: 10px 0 0;
	padding: 10px 0 0 10px;
}